[Unit]
Description={{ item.value.description }}
After=network-online.target
Wants=network-online.target

[Mount]
What={{ item.value.source_location }}
Where={{ item.value.destination_location }}
Options={{ item.value.options }}
Type={{ item.value.type }}
TimeoutSec=60

[Install]
WantedBy=remote-fs.target
