[Unit]
Description={{ item.value.description }}
{% if item.value.after is defined %}
After={{ item.value.after }}
{% endif %}
{% if item.value.wants is defined %}
Wants={{ item.value.wants }}
{% endif %}

[Mount]
What={{ item.value.source_location }}
Where={{ item.value.destination_location }}
Options={{ item.value.options }}
Type={{ item.value.type }}
TimeoutSec=60

{% if item.value.wantedby is defined %}
[Install]
WantedBy={{ item.value.wantedby }}
{% endif %}
